<header>
  <div class="header__logo">
    <h5>ᚱuᚢe-Eᚢcᛟdeᚱ</h5>
  </div>
  <span class="header__title">Admin Portal</span>

  <%# <======= MINI NAVIGATION BAR: RIGHT SIDE =======> %>
  <%= render "admin/shared/header/mini_navbar" do %>
    <%= render "admin/shared/header/mini_dropdown" %>
  <% end %>
</header>
