<%# <=======DROPDOWN MENU CONTAINER=======> %>
<div 
  data-controller="dropdown theme" 
  data-action="theme:changed->dropdown#updateTheme" 
  class="dropdown-menu"
>

  <%# <=======ICON: OPEN AND CLOSE MENU=======> %> 
    <button data-action="dropdown#toggle" class="mini-navbar__button">
      <i data-dropdown-target="dropdownToggleIcon" class="fa-solid"></i>
    </button>

  <%# <=======DROPDOWN MENU CONTENT=======> %> 
  <menu data-dropdown-target="dropdownMenu" class="dropdown-menu__section">
    <button 
      class="dropdown-menu__button" 
      type="button"
      data-action="click->theme#toggle"

    >
      <i data-dropdown-target="themeIcon" class="fa-solid"></i> Light Mode
    </button>

    <form
      action="<%= admin_logout_path %>"
      method="post"
      style="display: inline"
    >
      <input type="hidden" name="_method" value="delete" />
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <button type="submit" class="dropdown-menu__button">
        <i class="fa-solid fa-right-from-bracket"></i> Logout
      </button>
    </form>

    <span class="header__text--subtle"> Build Version v1.0.0 beta </span>
  </menu>
</div>
