// !Important =======================================
// !Revisit: Important Layout Structure.
// !Important =======================================

// Layout Structure
// .content
//  .content__inner
//    .content__main
//    .admin-page--wrapper
//      .control-item--wrapper
//    .list--wrapper

// WRAPPER FOR APP'S HEADER, MAIN CONTENT, AND FOOTER (EXCLUDES SIDEBAR)
.content {
  @include apply-flex(column);

  min-height: calc(100 * var(--vh));
  max-height: 100%;
  width: 100%;
  flex-grow: 1; // Expand to fill available space

  // Inner container
  &__inner {
    @include apply-flex(row);
    
    flex-grow: 1; // Expand to fill available space
    
    // Inner content container for mobile.
    @include respond-to("md") {
      @include apply-flex(column-reverse);
    }
    
    // overflow: hidden;
    // border: solid green   1px;
  }

  &__main {
    flex-grow: 1; // Expand to fill available space
    height: 100%;
    
    // overflow-y: auto;
    // border: solid red 1px;
  }
}

// ! Revisit: Not in the correct location (admin-page--wrapper)
.admin-page--wrapper {
  @include apply-font-family("roboto");
  @include apply-flex(column);

  @media screen and (min-width: 992px) {
    @include apply-flex(row, space-between, flex-start);
  }

  // @include apply-space("padding", 1, "x");
  //   position: relative;
  //   height: 100%;
  //   border: solid 1px rgb(11, 40, 133);
}

// ! Revisit: Fix media querys IMPORTANT
.list--wrapper {
  @include apply-flex(column);

  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  width: 50%;
  height: calc(100 * var(--vh) - #{$header-height});

  &[data-boolean="false"] {
    width: 100%;
  }

  @include respond-to("md") {
    @include apply-glass-effect("opacity-light", 25px);

    width: 100%;
    height: calc(100 * var(--vh) - #{$header-height} - #{$sidebar-height});
  }
}

//   ! Important =======================================

.control-item--wrapper {
  display: none;
  width: 50%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--shade-3);
  height: calc(100 * var(--vh) - #{$header-height});

  &[data-boolean="true"] {
    display: flex;
    flex-direction: column;
  }

  &[data-boolean="false"] {
    display: none;
  }

  @include respond-to("md") {
    @include apply-glass-effect("opacity-light", 25px);

    position: fixed;
    z-index: 4;
    height: calc(
      100 * var(--vh) - #{$header-height} - #{$sidebar-height} + 1px
    );
    width: 100%;
  }

  // border: solid 1px rgb(153, 159, 179);
}

//   ! Important =======================================
