// ! Revisit: Document with SassDoc

// ==============================
// SUBMENU LAYOUT AND STYLES
// ==============================
// Layout for submenus: Dropdowns, Context Menus, etc.
%submenu--layout {
  @include apply-flex(column, center, start);
  @include apply-space("gap", -10);

  z-index: 1;
}

// Style for submenus: Dropdowns, Context Menus, etc.
%submenu--style {
  @include apply-font-family("inter");
  @include apply-gradient("light", "shade-1", to right top);
  @include apply-border("shade-10", $border-radius-sm);
  @include set-typography("light");
}

// ==============================
// BASE BUTTONS
// ==============================
// Layout for Buttons containing Icons and Text
%icon-text__button--layout {
  @include apply-flex(row, center, center);
  @include apply-space("gap", -10);
}

// Style for Buttons containing Icons and Text
%icon-text__button--style {
  color: var(--dark);
  transition: transform 0.2s ease-out;

  &:hover {
    transform: translateX(rem(1px));
    color: var(--selection);
  }
}

// ==============================
// TOOLTIPS
// ==============================
// Layout for Tooltips (Displayed on Hover)
%tooltip--layout {
  @include apply-space("padding", -5, "x");
  @include apply-space("padding", -15, "y");
}

// Style for Tooltips (Displayed on Hover)
%tooltip--style {
  @include apply-glass-effect("opacity-light");
  @include apply-border("opacity-shade-8", $border-radius-sm);
  
  color: var(--dark);
  transition: opacity 0.3s ease, visibility 0.3s ease;

  @extend %tooltip--typography; // (SEE _TYPOGRAPHY.SCSS)
}

// ==============================
// SUBTLE TEXT
// ==============================
// Make text subtle
%text--subtle {
  font-size: modular-scale(-2);
  color: var(--shade-20);
}

// ==============================
// FORMS
// ==============================
%form-input--style {
  @include apply-gradient("shade-1", "shade-2", 45deg);
  @include apply-border("shade-8", $border-radius-sm);
  @include apply-text-shadow("shade-10");

  color: var(--dark);

  &::placeholder {
    @include apply-text-shadow("shade-5");

    color: var(--shade-13);
  }
}

// ==============================
// WINDOW
// ==============================
// Window layout
%window--layout {
  @include apply-flex(column);
  @include apply-space("padding", -10, "x");
  @include apply-space("padding", -5, "y");

  flex: 1;
  overflow-y: auto;
}

// Window layout for tabs
%window-tab--layout {
  @include apply-flex(row, space-between, center);
  @include apply-space("padding", -10, "x");
}

// Window layout for tab buttons
%window-tab__button--layout {
  @include apply-flex(row, center, center);
  @include apply-space("padding", -1);
}

// !Revisit: Rename
%pseudo-border {
  content: "";
  transition: all 0.3s ease-out;
  transform: translateX(-50%);
  width: calc(100% - halved-modular-scale(1) - halved-modular-scale(1));
  border-bottom: solid 1px var(--shade-15);
}